.h1 {
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 1rem;
    min-height: 15.5rem;
    border-radius: 20px;
    background: linear-gradient(0deg, black, transparent);
    background-size: cover;
}

.img {
    border-radius: 20px;
    z-index: -5;
}

.single h3 {
    color: white;
    margin: auto 1rem 0.5rem 1rem;
}

@media only screen and (min-width: 766px) {
    .h1 {
        text-align: left;
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .single {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 20%;
        margin: 1rem;
        height: 13rem;
        max-height: 15rem;
        border-radius: 20px;
        background: linear-gradient(0deg, black, transparent);
        background-size: cover;
    }

    .img {
        border-radius: 20px;
        z-index: -5;
    }

    .single h3 {
        color: white;
        margin: auto 1rem 0.5rem 1rem;
    }

}